<ion-view title="Home">
    <ion-content padding="true" class="has-header">
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="/img/avatar-img.png">
                <h2>Title</h2>
                <p>Item</p>
            </ion-item>
        </ion-list>
        <button class="button button-stable button-block ">Send</button>
    </ion-content>
</ion-view>